# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.swp
*~ 
.DS_Store
.idea/
.vscode/
out/
target/
.gradle/
build/
bin/
*.iml
*.log

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# IntelliJ
*.ipr
*.iws
*.idea/
*.iml
*.class
